*,
*::after,
*::before {
  box-sizing: border-box;
}
/* =================================================================
                    INITIALIZING VARIABLES
================================================================ */

:root {
  --ff-logo: "Raleway", sans-serif;
  --ff-title: "Roboto", sans-serif;
  --ff-subtitle: "Roboto", sans-serif;
  --ff-primary: "Lato", sans-serif;
  --ff-btn: "Roboto", sans-serif;

  --fs-title: 3.2rem;
  --fs-subtitle: 2.5rem;
  --fs-primary: 1.15rem;
  --fs-btn: 1.05rem;
  --fw-title: 900;
  --fw-btn: 300;
  --fw-primary: 300;

  --clr-brand: #f94f4f;
  --clr-dark: #191921;
  --clr-brand-light: #ff7b77;
  --clr-light: #fff;
}

/* @media (min-width: 900px) {
  :root {
    --fs-title: 3.25rem;
    --fs-subtitle: 2.9rem;
    --fs-primary: 2.15rem;
    --fs-btn: 2.35rem;
  }
} */

/* =================================================================
                            TYPOGRAPHY
================================================================ */
h1 {
  font-size: var(--fs-title);
  font-family: var(--ff-title);
  margin: 0;
  padding: 0;
  letter-spacing: -0.01rem;
}
h2 {
  font-size: var(--fs-subtitle);
  font-family: var(--ff-subtitle);
  margin: 0;
  padding: 0;
  letter-spacing: -0.01rem;
}
h3 {
  font-size: calc(var(--fs-subtitle));
  font-family: var(--ff-subtitle);
  margin: 0;
  padding: 0;
  letter-spacing: -0.01rem;
}
h5 {
  font-size: calc(var(--fs-primary) - 0.3rem);
  font-family: var(--ff-title);
}
p {
  font-size: var(--fs-primary);
  font-family: var(--ff-primary);
  font-weight: var(--fw-primary);
  line-height: 1.4;
  margin: 0;
  padding: 0;
}
a {
  font-size: calc(var(--fs-primary) - 0.2em);
  font-family: var(--ff-primary);
  margin: 0;
  padding: 0;
  letter-spacing: 0.05rem;
}

button {
  font-size: var(--fs-btn);
  font-family: var(--ff-btn);
  font-weight: 400;
}

/* =================================================================
                            LAYOUT
================================================================ */
.body__grid {
  display: grid;
  /* grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr 6fr 2fr 1fr; */
  grid-template-areas:
    "nav     nav"
    ".         ."
    "intro   intro"
    "details details"
    "footer  footer";
  position: relative;
}

nav {
  grid-area: nav;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.intro-mobile {
  display: none;
}
.section__intro {
  grid-area: intro;
  height: 50vh;
}
.section__details {
  grid-area: details;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  /* rows: span 3 , span 7, span 2 */
  grid-template-rows: repeat(12, 150px);
  position: relative;
}
.section__details .details-img {
  grid-column: 1/6;
  grid-row: 1/5;
  background: url("../assets/details-img.jpg");
  background-size: cover;
}
.section__details .call-to-action {
  grid-column: 5/9;
  grid-row: 1/4;
  background-color: var(--clr-dark);
}
.section__details .approach {
  grid-column: 1/5;
  grid-row: 6/10;
  z-index: 20;
}
.section__details .listing-details {
  grid-column: 4/9;
  grid-row: 4 / 10;
  background-color: var(--clr-brand);
}
.section__details .naming {
  grid-column: 1/5;
  grid-row: 10/13;
  background: var(--clr-dark);
}
.section__details .branding-img {
  grid-column: 5/9;
  grid-row: 10/13;
  background: linear-gradient(to top, rgb(0, 0, 0) 10%, rgba(255, 255, 255, 0)),
    url("../assets/branding-img.jpg");
  background-size: cover;
}
footer {
  grid-area: footer;
  height: 150px;
  display: flex;
  justify-content: space-between;
}

/* =================================================================
                        STYLING NAV
                        ================================================================ */

.nav__logo {
  /* padding-top: 2em; */
  padding-left: 8%;
  align-self: center;
  font-family: var(--ff-logo);
}
.nav__logo span {
  color: var(--clr-brand);
  font-weight: 900;
  font-family: var(--ff-logo);
}
.nav__navbar {
  background: var(--clr-brand);
  width: 50%;
  height: 15vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
}
.navbar__link {
  text-decoration: none;
  color: var(--clr-light);
  cursor: pointer;
}
.nav__navbar .cta {
  background-color: var(--clr-dark);
  padding: 1em;
}
/* =================================================================
                        STYLING SECTION - INTRO
                        ================================================================ */
.section__intro {
  background-color: var(--clr-light);
  background: linear-gradient(
      to right,
      rgb(255, 255, 255) 40%,
      rgba(255, 255, 255, 0)
    ),
    url("../assets/intro-img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  padding: 8%;
  padding-right: 45%;
}

.section__intro .intro__cta {
  border-style: none;
  background: var(--clr-brand);
  color: var(--clr-light);
  padding: 1em;
  margin: 0 auto;
  cursor: pointer;
}

/* =================================================================
                        STYLING SECTION - DETAILS
                        ================================================================ */

.section__details .call-to-action {
  color: var(--clr-light);
  display: grid;
  place-items: center;
  padding: 10%;
  position: relative;
}
.call-to-action .svg-logo {
  background: url("../assets/brand-logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 100%;
  position: absolute;
  left: -10%;
  top: 30%;
}
.section__details span {
  color: var(--clr-brand);
}
.call-to-action .cta-btn {
  border: none;
  background: none;
  color: var(--clr-brand);
  font-size: var(--fs-btn);
  position: relative;
  padding: 0;
}
.cta-btn::after {
  content: "";
  background: var(--clr-brand);
  color: var(--clr-brand);
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -5px;
  right: 0;
}
.section__details .approach {
  position: relative;
  top: 20%;
  left: 10%;
  width: 85%;
  color: var(--clr-dark);
}
.section__details .listing-details {
  display: grid;
  position: relative;
  justify-content: space-around;
  align-items: center;
  padding: 20%;
  padding-left: 30%;
  color: var(--clr-light);
}

.section__details .listing-details h3 {
margin-bottom: .5em;
}
.section__details .listing-item span {
  display: inline;
  position: relative;
  top: 60px;
  left: -56px;
  z-index: 5;
  opacity: 0.4;
  font-size: calc(var(--fs-title) + 1rem);
  font-family: var(--ff-title);
  font-weight: var(--fw-title);
  color: var(--clr-light);
}
.section__details .naming {
  color: var(--clr-light);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 4%;
}
.section__details .arrows {
  color: var(--clr-brand);
  font-size: var(--fs-subtitle);
  margin-top: 1em;
  cursor: pointer;
}
.section__details .branding-img {
  color: var(--clr-light);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 4em;
  padding-bottom: 2.5em;
  position: relative;
}
.branding-img .svg-logo {
  background: url("../assets/brand-logo-white.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 100%;
  position: absolute;
  left: -10%;
  top: 30%;
}
/* =================================================================
                        STYLING FOOTER
                        ================================================================ */

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
footer h2 {
  margin-left: 13%;
  color: var(--clr-dark);
}
footer button {
  width: fit-content;
  height: fit-content;

  border: none;
  padding: 1em;
  background-color: var(--clr-brand);
  color: var(--clr-light);
}

/* =================================================================
                        MEDIA QUERIES
                        ================================================================ */

/************
                            TABLETS 
                        *************/
@media (max-width: 900px) {
  /* TYPOGRAPHY */
  :root {
    --fs-title: 2.7rem;
    --fs-subtitle: 2.1rem;
    --fs-primary: 1.05rem;
    --fs-btn: 1rem;
    --fw-title: 900;
    --fw-btn: 300;
    --fw-primary: 300;
  }
  a {
    font-size: calc(var(--fs-primary) - 0.2em);
  }

  /* POSITIONING */
  .nav__logo {
    padding-top: 3%;
    padding-left: 5%;
  }
  .nav__navbar {
    height: 25vh;
    width: 62%;
  }
  .section__intro {
    height: 80vh;
    padding: 5%;
    padding-right: 40%;
  }
  .section__details .call-to-action {
    padding: 5%;
    padding-left: 20%;
  }
  .call-to-action .svg-logo {
    height: 35px;
    left: -20%;
  }
  .section__details .listing-details {
    padding: 10%;
    padding-left: 25%;
    padding-right: 5%;
  }
  .section__details .approach {
    left: 5%;
  }
  .section__details .branding-img {
    padding-right: 6%;
  }
  .branding-img .svg-logo {
    height: 35px;
    left: -9%;
    top: 50%;
  }
  footer button {
    justify-self: flex-end;
    margin: 5%;
  }
}
/************
                            MOBILE
                        *************/
@media (max-width: 600px) {
  /* TYPOGRAPHY */
  :root {
    --fs-title: 3.7rem;
    --fs-subtitle: 2.3rem;
    --fs-primary: 1.35rem;
    --fs-btn: 1rem;
    --fw-title: 900;
    --fw-btn: 300;
    --fw-primary: 300;
  }

  /* RESETTING ALL GRIDS */
  .body__grid {
    grid-template-areas:
      "nav"
      "mobile-img"
      "intro"
      "details"
      "footer";
  }
  nav {
    height: 20vh;
  }
  .nav__logo {
    padding: 5%;
  }
  .nav__navbar {
    display: none;
  }
  .section__details {
    grid-area: details;
    display: block;
    grid-template-columns: 1fr;
    /* rows: span 3 , span 7, span 2 */
    grid-template-rows: repeat(12, 150px);
    position: relative;
  }
  .section__intro {
    background: var(--clr-light);
    padding: 5%;
  }
  .intro-mobile {
    grid-area: mobile-img;
    display: block;
    object-fit: cover;
    width: 100%;
    height: 70vh;
  }

  .section__details .details-img {
    grid-column: 1/6;
    background: url("../assets/details-img.jpg");
    background-size: cover;
  }
  .intro-title {
    font-size: ca;
  }
  .section__details .call-to-action {
    grid-column: 5/9;
    height: 70vh;
    padding: 5%;
    background-color: var(--clr-dark);
  }
  .section__details .approach {
    grid-column: 1/-1;
    height: 45vh;
    width: 100%;
    position: relative;
    display: grid;
    place-items: center;
    left: 0;
    top: 0;
    padding: 5%;
    z-index: 20;
    color: var(--clr-light);
    background-color: var(--clr-brand);
  }
  .section__details .listing-details {
    grid-column: 4/9;
    grid-row: span 5;
    justify-content: center;
    background-color: var(--clr-brand);
    padding: 10%;
    top: -5%;
    padding: 5%;;
    padding-left: 8%;
    padding-right: 2%;
  }
  .section__details .listing-item span{
      left: -5%;
  }
  .section__details .naming {
    grid-column: 1/5;
    height: 50vh;
    background: var(--clr-dark);
  }
  .section__details .branding-img {
    grid-column: 5/9;
    height: 50vh;
    background: linear-gradient(
        to top,
        rgb(0, 0, 0) 10%,
        rgba(255, 255, 255, 0)
      ),
      url("../assets/branding-img.jpg");
    background-size: cover;
  }
  footer{
      width:100%;
      margin-top: 5%;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      align-items: center;
    }
    footer h2{
        margin-left:0 ;
        padding: 5%;
    }
    footer button{
      justify-self: center;

  }
}
